@import url("https://fonts.googleapis.com/css?family=Anton|Baloo|Dokdo|Luckiest+Guy|Monoton|Titan+One|Ubuntu:300,400,700,700i&subset=latin-ext");


body {
  margin: 50px;
  min-height: 90.5vh;
  text-align: center;
  font-family: 'Ubuntu', cursive;
  background-image: linear-gradient(to top, #8adc32, #25c7a2);
}

input {
  height: 30px;
  width: 250px;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  display: block;
  border: none;
  font-size: 18px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
} 

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-size: 24px;
}

h1, h2, li {
  margin: 50px;
  color: #C3FFCA;
  text-shadow: 8px 8px 40px #000;
}

h1 {
  font-size: 42px;
  margin-top: 100px auto;
}

h2 {
  font-size: 32px;
}

input:first-child {
  color: #C3FFCA;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  background-image: linear-gradient(to bottom, #fb8332 0%, #f8c332 95%);
  width: 300px;
  box-shadow: 5px 5px 20px #190b14;
  margin: 100px auto;
}

input:first-child:hover {
  background-image: linear-gradient(to top, #fb8332 0%, #f8c332 95%);
}

img {
  height: 200px;
  width: auto;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 30px #000;
}